.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: rgb(3, 121, 121);
}

img{
    width: 100px;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    margin-left: -1rem;
    font-size: 3rem;
    color: #41b883;
}

P{
    padding-top: 2rem;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    color: whitesmoke;
}

button{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    border: 2px solid black;
    background-color: red;
    color: white;
    margin: 1rem;

}

span.effect{
    background-color: lime;
    text-align: center;
    border: 3.5px solid black;
    width: 70px;
    height: 50px;
    font-size: 3rem;
    font-family: 'Inconsolata', monospace;
}